.row {
  /* background-color: yellow; */
  @mixin clearfix;

  &--gutters {
    margin-right: -5.3125rem;
  }

  &--gutters-large {
    margin-right: -6.25rem;
  }

  &--gutters > div {
    padding-right: 5.3125rem;
  }

  &--gutters-large > div {
    padding-right: 6.25rem;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4-col {
      float: left;
      width: 33.33%;
    }

    &__medium-4-col--larger {
      width: 37%;
    }

    &__medium-6-col {
      float: left;
      width: 50%;
    }

    &__medium-8-col {
      float: left;
      width: 66.66%;
    }

    &__medium-8-col--smaller {
      width: 63%;
    }
  }
}
