.row {
  /* background-color: yellow; */
  @mixin clearfix;

  &--t-padding {
    padding-top: 5rem;
  }

  &--gutters {
    margin-right: -5.3125rem;
  }

  &--gutters-large {
    margin-right: -6.25rem;
  }

  &--gutters-small {
    margin-right: -2.8125em;
  }

  &--gutters > div {
    padding-right: 5.3125rem;
  }

  &--gutters-large > div {
    padding-right: 6.25rem;
  }

  &--gutters-small > div {
    padding-right: 2.8125em;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4-col {
      float: left;
      width: 33.33%;
    }

    &__medium-4-col--larger {
      width: 37%;
    }

    &__medium-6-col {
      float: left;
      width: 50%;
    }

    &__medium-8-col {
      float: left;
      width: 66.66%;
    }

    &__medium-8-col--smaller {
      width: 63%;
    }
  }

  /* begin equal height rules */
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
